.section{
    padding: 5.5% 0;
}

.conteiner-s{
    text-align: center;
    padding: 0 8.7%;
}

.section-header{
    margin: 0 auto 4%;
    text-align: center;
}

.section-suptitle {
    font-size: 24px;
    color: rgb(51, 51, 51);
    font-family: "Kaushan Script", cursive;
    margin: 0;
}

.section-title {
    font-size: 30px;
    font-weight: 700;
    color: rgb(51, 51, 51);
    text-transform: uppercase;
}

.section-title:after{
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background-color: rgb(243, 129, 129);
    margin: 30px auto;
}

.section-text {
    font-family: Roboto, sans-serif;
    font-size: 15px;
    color: rgb(153, 153, 153);
    width: 75%;
    margin: auto;
    margin-bottom: 6.5%;
}