.container-s-1{
    margin: 0 10%;
}

.services {
    display: grid;
    grid-template-columns: repeat(3, 1fr );
    gap: 80px 30px;
    position: relative;
}

.services-item {
    flex: 1 1 0;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-gap: 10px 20px;
}

.services-icon {
    display: block;
    width: 32px;
    height: 32px;
    grid-row-start: 1;
    grid-row-end: 3;
}

.services-title {
    text-transform: uppercase;
    font-size: 14px;
    color: #333;
}

.services-text {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: #999;
}

.services-line-middle {
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #e5e5e5;
    top: calc(50% - 2px);
}