.section-logos {
    background-color: #e4e4e4;
    padding: 60px 0;
  }
  
  .logos {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logos-item img {
    display: block;
    max-width: 100%;
    height: auto;
  }