.intro {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    min-height: 820px;
    background: url("../../img/intro.jpg") center no-repeat;
    background-size: cover;
}
  
.intro-inner {
    text-align: center;
    width: 100%;
    max-width: 880px;
    margin: 0 auto;
}
  
.intro-suptitle {
    text-align: center;
    font-size: 72px;
    color: #fff;
    font-family: 'Kaushan Script', cursive;
}
  
.intro-title {
    font-size: 150px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
  }
  
  .intro-title:after {
    content: '';
    display: block;
    width: 60px;
    height: 3px;
    margin: 60px auto 60px;
    background-color: #fff;
}
  
/* Slider  */
.slider {
    position: absolute;
    width: 100%;
    padding: 60px 0;
    bottom: 0;
    left: 0;
}
.slider-inner {
    display: flex;
    justify-content: space-between;
}
  
.slider-item {
    width: 24%;
    color: #fff;
    text-transform: uppercase;
    font-size: 18px;
}
  
.slider-item-progress {
    width: 100%;
    height: 3px;
    background-color: #fff;
    position: relative;
}
  
.slider-item-progress.active:before {
    content: "";
    width: 23%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: red;
}
  
.slider-item-number {
    font-size: 24px;
    font-weight: 700;
}