.slider-item{
    width: 24%;
    color: #fff;
    text-transform: uppercase;
    font-size: 18px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.slider-items{
    padding: 0 5%;
    margin: 1.5% 0;
    display: flex;
    justify-content: space-between;
}

.slider-item-progress {
    width: 100%;
    height: 10%;
    background-color: #fff;
    position: relative;
}

.slider-item-number {
    font-size: 24px;
    font-weight: 700;
}

.slider-item-text{
    margin: 0% 0% 0% 3%;
}