*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

.btn-nav{
    font-size: 16px;
}

.header{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}
  
.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}
  
.header.fixed {
    position: fixed;
    background-color: #e98b83;
    box-shadow: 0 3px 10px rgba(0,0,0, .3);
}
  
.header.fixed .header-inner {
    padding: 15px 0;
}
  
.header-logo {
    font-size: 30px;
    font-weight: 700;
    color: #fff;
    line-height: 1;
}
  
.header-nav {
    text-transform: uppercase;
}
  
.btn {
    display: inline-block;
    vertical-align: top;
    padding: 5px 35px;
    border: 3px solid #fff;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    transition: background .2s linear, color .2s linear;
}

button.nav-link {
    background: none;
    border: none;
    cursor: pointer;
}
  
.nav-link {
    display: inline-block;
    position: relative;
    font-weight: 500;
    margin-left: 30px;
    color: #fff;
    text-decoration: none;
    transition: color 0.2s linear;
}
  
.nav-link > i {
    font-size: 16px;
}
  
.nav-link:first-child {
    margin-left: 0;
}
  
.nav-link:after {
    content: '';
    display: block;
    width: 100%;
    background-color: #fce38a;
    position: absolute;
    z-index: 1;
    left: 0;
    opacity: 0;
    transition: opacity 0.2s linear;
}
  
.nav-link:hover {
    color: #fce38a;
}
  
.nav-link:hover:after {
    opacity: 1;
}
  
.nav-toggle {
    width: 30px;
    padding: 10px 0;
    position: absolute;
    top: 22px;
    right: 17px;
    z-index: 1;
    display: none;
    border: 0;
    background-color: transparent;
    outline: none;
}
  
.nav-toggle.active .nav-toggle-item {
    background: none;
}
  
.nav-toggle.active .nav-toggle-item:before {
     transform-origin: right bottom;
     transform: rotate(-45deg) translate(4px);
}
  
.nav-toggle.active .nav-toggle-item:after {
     transform-origin: right top;
     transform: rotate(45deg) translate(4px);
}
  
.nav-toggle-item {
    display: block;
    width: 100%;
    height: 3px;
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    font-size: 0;
    color: transparent;
    transition: all .2s ease;
}
  
.nav-toggle-item:before,
.nav-toggle-item:after {
    content: "";
    width: 100%;
    height: 3px;
  
    background-color: #fff;
  
    position: absolute;
    left: 0;
    z-index: 1;
    transition: all .2s ease;
}
  
.nav-toggle-item:before {
    top: -8px;
}
  
.nav-toggle-item:after {
    bottom: -8px;
}

/* .header-slider{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.slider-text{
    display: none;
}

.header-slider:hover ~ .slider-text{
    display: block;
}

.header-item{
    min-height: 10px;
} */